<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".FifthLab.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="false"></receiver>

        <service
            android:name=".FifthLab.MyIntentService"
            android:exported="false" />

        <activity android:name=".SixthLab.SettingsActivity"/>
        <activity
            android:name=".FifthLab.WebViewActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".FifthLab.FifthLabActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".FourthLab.FourthLabActivity" />
        <activity android:name=".ThirdLab.ThirdLabActivityWithFragment_2" />
        <activity android:name=".ThirdLab.ThirdLabActivityWithFragment_1" />
        <activity android:name=".ThirdLab.ThirdLabActivity" />
        <activity android:name=".SecondLabActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>